language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6-dev" # 3.6 development branch
  - "nightly" # currently points to 3.7-dev
# command to install dependencies
install:
  # Coverage 4.x doesn't support Python 3.2
  - if [ "$TRAVIS_PYTHON_VERSION" != "3.2" ]; then pip install -r requirements.txt; fi
  - if [ "$TRAVIS_PYTHON_VERSION" == "3.2" ]; then pip install -r requirements_py32.txt; fi
# command to run tests
script: "coverage run --source iso8601utils -m pytest"
after_success: "codecov"